 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(26,26,26,0.75), rgba(26,26,26,0.75)), url("images/IMG_20240402_180256.jpg");
  background-position: 50% 37.81%;
}

.u-section-1 .u-sheet-1 {
  min-height: 624px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 2.25rem;
  width: 509px;
  margin: 204px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-family: "Courier New", monospace;
  margin: 23px 40px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 23px 107px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 7px;
    margin-right: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 11.09% 52.5%;
    background-size: 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 415px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 115px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 0;
    margin-bottom: 46px;
    font-weight: normal;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 607px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-image-1 {
  min-height: 575px;
  background-image: url("images/415966227_7020403844718229_151072333321595884_n3.jpg");
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  background-position: 40.69% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 575px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 99px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 25px 0 0;
}

.u-section-2 .u-line-1 {
  width: 542px;
  transform-origin: left center 0px;
  margin: 11px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-2 .u-image-1 {
    min-height: 474px;
    background-size: auto 115%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 611px;
  }

  .u-section-2 .u-line-1 {
    width: 298px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1330px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 50px;
    margin-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 947px;
    background-position: 50% 0%;
    background-size: auto 105%;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-2 .u-line-1 {
    margin-top: 0;
    margin-left: 67px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1201px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 58px;
    margin-bottom: 2px;
  }

  .u-section-2 .u-image-1 {
    min-height: 676px;
    background-position: 46.35% 31.35%;
    background-size: auto 135%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 466px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 17px;
  }

  .u-section-2 .u-line-1 {
    margin-left: 12px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 426px;
    background-position: 41.41% 53.91%;
    background-size: auto 115%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 232px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .u-section-2 .u-line-1 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 607px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 62px;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  min-height: 575px;
  background-image: url("images/IMG_20240402_180256.jpg");
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  background-position: 50% 50%;
  background-size: auto 150%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 575px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 99px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 25px 0 0;
}

.u-section-3 .u-line-1 {
  width: 679px;
  transform-origin: left center 0px;
  margin: 11px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-3 .u-image-1 {
    min-height: 474px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 611px;
  }

  .u-section-3 .u-line-1 {
    width: 378px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1555px;
  }

  .u-section-3 .u-image-1 {
    min-height: 947px;
    background-position: 50% 0%;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 518px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1185px;
  }

  .u-section-3 .u-image-1 {
    min-height: 676px;
    background-position: 48.72% 44.87%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 449px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-3 .u-image-1 {
    min-height: 389px;
    background-position: 48.48% 47.26%;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 383px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 0;
  }

  .u-section-3 .u-line-1 {
    width: 320px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 2128px;
}

.u-section-4 .u-image-1 {
  width: 354px;
  height: 354px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/82967544_2733594266732563_3602928067523117056_n.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 95px auto 0 161px;
}

.u-section-4 .u-image-2 {
  width: 372px;
  height: 372px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -331px 101px 0 auto;
}

.u-section-4 .u-image-3 {
  background-image: url("images/83332119_2733592516732738_2276583230977081344_n1.jpg");
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: -65px;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-4 .u-image-4 {
  width: 512px;
  height: 512px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 107px auto 0 101px;
}

.u-section-4 .u-image-5 {
  width: 262px;
  height: 262px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -423px 156px 0 auto;
}

.u-section-4 .u-image-6 {
  width: 303px;
  height: 303px;
  object-position: 50% 0%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 86px 287px 0 auto;
}

.u-section-4 .u-image-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 45px;
  width: 700px;
  height: 410px;
  margin: 72px auto 0 193px;
}

.u-section-4 .u-group-1 {
  width: 675px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  min-height: 282px;
  margin: 83px auto 9px;
}

.u-section-4 .u-container-layout-1 {
  padding-top: 17px;
  padding-bottom: 17px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2062px;
  }

  .u-section-4 .u-image-1 {
    width: 308px;
    height: 308px;
    margin-top: 82px;
    margin-left: 72px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -319px;
    margin-right: 123px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 193px;
  }

  .u-section-4 .u-image-4 {
    width: 445px;
    height: 445px;
    margin-top: -193px;
    margin-left: 25px;
  }

  .u-section-4 .u-image-5 {
    width: 231px;
    height: 231px;
    margin-top: -368px;
    margin-right: 193px;
  }

  .u-section-4 .u-image-6 {
    margin-top: 213px;
    margin-right: auto;
  }

  .u-section-4 .u-image-7 {
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: 32px;
    margin-bottom: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2016px;
  }

  .u-section-4 .u-image-1 {
    margin-left: 31px;
  }

  .u-section-4 .u-image-2 {
    width: 360px;
    height: 360px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -183px;
    margin-left: 31px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -51px;
    margin-right: 13px;
  }

  .u-section-4 .u-image-6 {
    margin-top: -130px;
    margin-left: 72px;
  }

  .u-section-4 .u-image-7 {
    margin-top: 38px;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    margin-top: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2425px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 337px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: -635px;
    margin-right: 0;
  }

  .u-section-4 .u-image-3 {
    margin-top: 434px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -136px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-image-5 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-image-6 {
    margin-top: 85px;
    margin-left: 85px;
  }

  .u-section-4 .u-image-7 {
    height: 316px;
    margin-top: 67px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-group-1 {
    margin-top: 20px;
    margin-bottom: 8px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2496px;
  }

  .u-section-4 .u-image-1 {
    width: 262px;
    height: 262px;
    --animation-custom_in-translate_x: 0px;
    margin-top: 351px;
    margin-left: -18px;
  }

  .u-section-4 .u-image-2 {
    width: 287px;
    height: 287px;
    object-position: 50% 93.9%;
    --animation-custom_in-translate_x: 0px;
    margin-top: -559px;
  }

  .u-section-4 .u-image-3 {
    width: 155px;
    height: 155px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 218px;
    margin-right: -27px;
    margin-left: auto;
  }

  .u-section-4 .u-image-4 {
    width: 309px;
    height: 309px;
    object-position: 50% 23.79%;
    --animation-custom_in-translate_x: -400px;
    margin-top: 53px;
    margin-right: auto;
  }

  .u-section-4 .u-image-5 {
    width: 262px;
    height: 262px;
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-rotate: 180deg;
    margin-top: 66px;
  }

  .u-section-4 .u-image-6 {
    object-position: 50% 44.55%;
    margin-top: 73px;
    margin-right: 0;
    margin-left: 37px;
  }

  .u-section-4 .u-image-7 {
    height: 244px;
    object-position: 50% 0%;
    --radius: 28px;
    margin-top: 79px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    min-height: 268px;
    margin-top: 53px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 6px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 2005px;
}

.u-section-5 .u-image-1 {
  width: 354px;
  height: 354px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: url("images/344146404_608111418027423_2550600293857295426_n.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 135px auto 0 0;
}

.u-section-5 .u-image-2 {
  width: 372px;
  height: 372px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -391px 145px 0 auto;
}

.u-section-5 .u-image-3 {
  background-image: url("images/943178_463865450372134_579601326_n.jpg");
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin-top: -45px;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-5 .u-image-4 {
  width: 512px;
  height: 512px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 45px auto 0 211px;
}

.u-section-5 .u-image-5 {
  width: 262px;
  height: 262px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -377px 80px 0 auto;
}

.u-section-5 .u-image-6 {
  width: 303px;
  height: 303px;
  object-position: 50% 0%;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 98px 214px 0 auto;
}

.u-section-5 .u-image-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 45px;
  width: 700px;
  height: 410px;
  object-position: 50% 32.61%;
  margin: 114px auto 0;
}

.u-section-5 .u-group-1 {
  width: 675px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  height: auto;
  min-height: 282px;
  margin: -68px auto 0;
}

.u-section-5 .u-container-layout-1 {
  padding-top: 17px;
  padding-bottom: 17px;
}

.u-section-5 .u-text-1 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1966px;
  }

  .u-section-5 .u-image-1 {
    width: 308px;
    height: 308px;
    margin-top: 89px;
    margin-left: 80px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -323px;
    margin-right: 80px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 207px;
  }

  .u-section-5 .u-image-4 {
    width: 445px;
    height: 445px;
    margin-top: -168px;
    margin-left: 127px;
  }

  .u-section-5 .u-image-5 {
    width: 231px;
    height: 231px;
    margin-top: -231px;
  }

  .u-section-5 .u-image-6 {
    margin-top: 22px;
    margin-right: 257px;
  }

  .u-section-5 .u-image-7 {
    margin-top: 74px;
    margin-right: 100px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -55px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2104px;
  }

  .u-section-5 .u-image-2 {
    width: 360px;
    height: 360px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -132px;
    margin-left: 41px;
  }

  .u-section-5 .u-image-5 {
    margin-top: -94px;
    margin-right: 65px;
  }

  .u-section-5 .u-image-6 {
    margin-top: -21px;
    margin-left: 160px;
  }

  .u-section-5 .u-image-7 {
    margin-top: 80px;
    margin-right: 20px;
  }

  .u-section-5 .u-group-1 {
    margin-top: -40px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2061px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 390px;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: -683px;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    margin-top: 402px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -87px;
    margin-right: -50px;
    margin-left: auto;
  }

  .u-section-5 .u-image-5 {
    margin-top: -30px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-5 .u-image-6 {
    margin-top: -146px;
    margin-right: 6px;
    margin-left: auto;
  }

  .u-section-5 .u-image-7 {
    height: 316px;
    margin-top: 15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-group-1 {
    margin-top: -45px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2213px;
  }

  .u-section-5 .u-image-1 {
    width: 262px;
    height: 262px;
    --animation-custom_in-translate_x: 0px;
    margin-top: 320px;
  }

  .u-section-5 .u-image-2 {
    width: 287px;
    height: 287px;
    object-position: 50% 93.9%;
    --animation-custom_in-translate_x: 0px;
    margin-top: -568px;
  }

  .u-section-5 .u-image-3 {
    width: 155px;
    height: 155px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 252px;
    margin-right: -27px;
    margin-left: auto;
  }

  .u-section-5 .u-image-4 {
    width: 309px;
    height: 309px;
    object-position: 50% 69.1%;
    --animation-custom_in-translate_x: -400px;
    margin-top: -21px;
    margin-right: auto;
    margin-left: -23px;
  }

  .u-section-5 .u-image-5 {
    width: 262px;
    height: 262px;
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-rotate: 180deg;
    margin-top: 13px;
    margin-right: -27px;
    margin-left: auto;
  }

  .u-section-5 .u-image-6 {
    margin-top: 31px;
    margin-right: auto;
  }

  .u-section-5 .u-image-7 {
    height: 273px;
    object-position: 50% 48.17%;
    --radius: 28px;
    margin-top: 53px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-group-1 {
    min-height: 268px;
    margin-top: 0;
    margin-bottom: 14px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 8px 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 790px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1264px;
  margin: 53px -62px 60px;
}

.u-section-6 .u-image-1 {
  min-height: 625px;
  background-image: url("images/278374480_5024267857665181_5804916923083478724_n1.jpg");
  background-position: 100% 0%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  --radius: 50px;
}

.u-section-6 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px;
}

.u-section-6 .u-text-1 {
  text-shadow: -2px 2px 8px rgba(128,128,128,1);
  font-size: 2.25rem;
  font-style: italic;
  margin: 0 112px 0 214px;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 625px;
}

.u-section-6 .u-container-layout-2 {
  padding: 50px 30px 50px 60px;
}

.u-section-6 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 95px 0 0;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  font-size: 1.875rem;
  margin: 20px 202px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    min-height: 465px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1rem;
    font-style: normal;
    margin-right: 23px;
    margin-left: 125px;
  }

  .u-section-6 .u-layout-cell-2 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    min-height: 465px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 30px 40px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.75rem;
    width: auto;
    margin-top: 26px;
    margin-right: 11px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 10px;
    margin-right: 117px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 813px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-image-1 {
    min-height: 648px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding: 50px 30px 0 50px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 0;
    margin-right: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-1 {
    min-height: 486px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-right: -62px;
    margin-left: 90px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 251px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 23px;
    padding-right: 23px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 0;
    margin-right: 0;
    margin-left: 15px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 15px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 52px;
    margin-bottom: 52px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    background-position: 50% 0%;
    min-height: 306px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    font-style: italic;
    margin: 227px -18px -15px 38px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 212px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.125rem;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.125rem;
    margin-top: -28px;
    margin-right: 122px;
    margin-left: 80px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 1194px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 464px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-1 {
  padding: 40px;
}

.u-section-7 .u-image-1 {
  height: 330px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 30px 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  margin-left: auto;
  padding: 0;
}

.u-section-7 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  align-self: center;
  margin: 35px auto 0 0;
  padding: 20px 55px 21px 54px;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 114px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 127px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-layout-cell-4 {
  min-height: 904px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-7 .u-container-layout-4 {
  padding: 30px;
}

.u-section-7 .u-image-2 {
  height: 330px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-4 {
  font-size: 2.25rem;
  margin: 20px 0 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 30px 0 0;
}

.u-section-7 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  align-self: center;
  border-style: solid;
  margin: 20px auto 0 0;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1093px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 382px;
  }

  .u-section-7 .u-image-1 {
    height: 263px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 94px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 105px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 745px;
  }

  .u-section-7 .u-image-2 {
    height: 265px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1121px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-7 .u-image-1 {
    height: 445px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 144px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 161px;
  }

  .u-section-7 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-7 .u-image-2 {
    height: 427px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1045px;
  }

  .u-section-7 .u-image-1 {
    height: 351px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 108px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 121px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-image-2 {
    height: 336px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1952px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-top: 40px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-1 {
    height: 234px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 76px;
  }

  .u-section-7 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-7 .u-image-2 {
    height: 224px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1045px;
}

.u-section-8 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px 79px 0;
}

.u-section-8 .u-text-2 {
  letter-spacing: 0px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-8 .u-list-1 {
  margin-top: 57px;
  margin-bottom: 0;
}

.u-section-8 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 13.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 712px;
  grid-gap: 20px;
}

.u-section-8 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/97.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-8 .u-icon-1 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 45px auto 0;
  padding: 32px;
}

.u-section-8 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/56756.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-8 .u-icon-2 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 45px auto 0;
  padding: 32px;
}

.u-section-8 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/45.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px;
}

.u-section-8 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-8 .u-icon-3 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 45px auto 0;
  padding: 32px;
}

.u-section-8 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/57.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px;
}

.u-section-8 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-8 .u-icon-4 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 45px auto 0;
  padding: 32px;
}

.u-section-8 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/y.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px;
}

.u-section-8 .u-text-7 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-8 .u-icon-5 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 45px auto 0;
  padding: 32px;
}

.u-section-8 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('images/97.jpg');
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-8 .u-container-layout-6 {
  padding: 30px;
}

.u-section-8 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.875rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 0;
}

.u-section-8 .u-icon-6 {
  height: 148px;
  width: 148px;
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: 45px auto 0;
  padding: 32px;
}

.u-section-8 .u-audio-1 {
  width: 500px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 13.3333px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 586px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(50% - 9.999975px);
    grid-template-columns: repeat(2, calc(50% - 9.999975px));
    min-height: 1031px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-8 .u-audio-1 {
    width: 340px;
  }
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/56754.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 455px;
}

.u-section-9 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
}

.u-section-9 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 0;
}

.u-section-9 .u-form-1 {
  height: 48px;
  width: 570px;
  margin: 30px auto 0;
}

.u-section-9 .u-input-1 {
  height: 55px;
}

.u-section-9 .u-btn-1 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  align-self: center;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  padding: 16px 30px 17px;
}

.u-section-9 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 30px auto 60px;
}

.u-section-9 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 287px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 215px;
  }

  .u-section-9 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 135px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-9 .u-form-1 {
    width: 340px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 654px;
}

.u-section-10 .u-shape-1 {
  width: 365px;
  height: 365px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 60px 354px 0 auto;
}

.u-section-10 .u-shape-2 {
  width: 167px;
  height: 167px;
  background-image: none;
  --animation-custom_in-translate_x: -400px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: -58px 0 0 auto;
}

.u-section-10 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -414px 0 0;
}

.u-section-10 .u-text-2 {
  line-height: 2;
  font-size: 1.5rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px 0 0;
}

.u-section-10 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.875rem;
  align-self: center;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 66px auto 60px 0;
  padding: 20px 55px 21px 54px;
}

@media (max-width: 991px) {
  .u-section-10 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 673px;
  }

  .u-section-10 .u-shape-1 {
    margin-right: 175px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-10 .u-shape-1 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-10 .u-shape-2 {
    margin-top: -33px;
  }
} .u-section-11 {
  min-height: 663px;
  background-image: none;
}

.u-section-11 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 auto 0 0;
}

.u-section-11 .u-image-1 {
  background-image: url("images/sd.jpg");
  min-height: 673px;
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-11 .u-container-layout-1 {
  padding: 30px 30px 30px 20px;
}

.u-section-11 .u-layout-cell-2 {
  min-height: 770px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
}

.u-section-11 .u-container-layout-2 {
  padding: 60px 50px;
}

.u-section-11 .u-text-1 {
  margin: 0;
}

.u-section-11 .u-form-1 {
  height: 454px;
  margin-top: 32px;
  margin-bottom: 0;
}

.u-section-11 .u-form-group-1 {
  margin-left: auto;
}

.u-section-11 .u-form-group-2 {
  margin-left: auto;
}

.u-section-11 .u-form-group-3 {
  margin-left: auto;
}

.u-section-11 .u-form-group-4 {
  margin-left: auto;
  margin-right: 0;
}

.u-section-11 .u-btn-1 {
  font-weight: normal;
  font-size: 1rem;
  font-family: 'Open Sans',sans-serif;
  display: inline !important;
  padding: 0;
}

.u-section-11 .u-form-group-5 {
  margin-left: auto;
}

.u-section-11 .u-btn-2 {
  font-size: 0.875rem;
  margin-left: auto;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding: 18px 0 20px;
}

.u-section-11 .u-text-2 {
  margin: 20px 156px 0 0;
}

.u-section-11 .u-btn-3 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-11 {
    min-height: 555px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-11 .u-image-1 {
    min-height: 555px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 635px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 56px;
  }
}

@media (max-width: 991px) {
   .u-section-11 {
    min-height: 100px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-11 .u-image-1 {
    min-height: 425px;
  }

  .u-section-11 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-11 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-11 .u-image-1 {
    min-height: 638px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-11 .u-container-layout-2 {
    padding: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-11 .u-image-1 {
    min-height: 402px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}